@import url("https://fonts.googleapis.com/css?family=Segoe+UI&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.home{
  height: 100vh;
  width: 100vw;
}
body{
  margin: 0px;
  padding: 0px;
}
.heading{
  width: 10%;
  margin: 20px auto;
  padding-bottom: 20px;
}
.heading h2{
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  text-decoration: underline royalblue;
  text-underline-position: under;
}

.sidebar{
  height: 100%;
  width: 280px;

}
.sidebar h2{
  text-align: center;
  font-size: 22px;
  font-weight: 1000px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 6px;
}

.my-hr {
  border: none;
  height: 1px;
  background-color: rgb(148, 138, 138);
  width: 60%;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 100px;
}
.moviecarddisplay{
  margin-left: 350px;
  margin-top: -562px;
  display: flex;
  flex-wrap: wrap;
}

.moviecard{
  height: 420px;
  width: 231px;
  background-color: white;
  margin: 10px;
  border: 1px solid black; 
}
.moviecard:hover{
  box-shadow: 0 0 10px rgba(74, 74, 72, 0.8);
}
.moviecard h2{
  font: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px 0px;
}
.moviecard p{
  font: 'Roboto', sans-serif;
  text-align: center;
  font-size: 15px;
  color: rgba(74, 74, 72, 0.8);
  padding-bottom: 5px;
}
.moviecard button{
  width: 229.5px;
  height: 37.5px;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 0.5px solid black;
}

.moviecard img{
  height: 320px;
  width: 231px;
}

