@import url("https://fonts.googleapis.com/css?family=Segoe+UI&display=swap");

.home{
  height: 100vh;
  width: 100vw;
}
body{
  margin: 0px;
  padding: 0px;
}
.heading{
  width: 10%;
  margin: 20px auto;
  padding-bottom: 20px;
}
.heading h2{
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  text-decoration: underline royalblue;
  text-underline-position: under;
}

.sidebar{
  height: 100%;
  width: 300px;
  background-color: aqua;
}

.moviecarddisplay{
  margin-left: 350px;
  margin-top: -562px;
  display: flex;
  flex-wrap: wrap;
}

.moviecard{
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 10px;
}
.dis{
  
}