@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.trailer {
    margin: 0 auto;
    text-align: center;
  }
  
  .movieimg-wrapper {
    display: inline-block;
    margin-left: 50px;
    margin-top: 13px;
  }
  
  .movieimg {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
.trailer{
    margin: 0;
    height: 450px;
    padding-bottom: 40px;
    background-color: #2b3148;
    text-align: start;
}
.movieimg{
    display: block;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid white;
}

.dates{
    margin-top: 50px;
}
.dateicon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}
.date{
    color: grey;
    font-size: 15px;
}
.day{
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.dateicons{
    background-color: blue; 
}
.theaters{
    margin-top: 50px;
    margin-left: 100px;
}

