@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.trailer{
    height: 400px;
    background-color: aqua;
    padding-bottom: 40px;
}
.trailer img{
    height: 320px;
    width: 220px;
    position: relative;
    margin-left: 70px;
}
.dates{
    margin-top: 50px;
}
.dateicon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}
.date{
    color: grey;
    font-size: 15px;
}
.day{
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.dateicons{
    background-color: blue; 
}
.theaters{
    margin-top: 50px;
    margin-left: 100px;
}

