/* *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #fff0e5;
} */

body{
    font-family: 'Nunito',sans-serif;
    background-color: #fff0e5;
}

.login{
    width: 30%;
    margin: 140px auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
form h2{
    font-size: 22px;
    font-weight: bolder;
    text-align: start;
    font-family: 'Nunito',sans-serif;
}
form label{
    font-size: medium;
    font-weight: 450;
    font-family: 'Nunito',sans-serif;
    margin-top: 10px;
    margin-bottom: 3px;
}

form input[type='email'],input[type='password']{
    border: 0.5px solid black;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 50px;
    background-color: white;
    border-color: black;
}

form input[type='email']:hover{
    outline: none;
    border-color:#3a10e5 ;
}
form input[type='email']:focus{
    outline: none;
    border: 2px solid #3a10e5;
    transition: border 100ms;
}
form input[type='password']:hover{
    outline: none;
    border-color:#3a10e5 ;
}
form input[type='password']:focus{
    outline: none;
    border: 2px solid #3a10e5;
    transition: border 100ms;
}

form button{
    height: 50px;
    background-color: #3a10e5;
    color: white;
    font-weight: bold;
}

form p{
    margin-top: 5px;
}
form p span{
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
}

form p a {
        color: blue;
        text-decoration: none;
      }

form p a:hover {
        color: blue;
        text-decoration: underline;
      }